body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 40%;
    background-color: rgba(255, 255, 255, .4);
    padding: 50px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .);
}

.header {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(10, 255, 10, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: rgba(10, 255, 10, .7);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.input {
    border: none;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin: 5px 0 20px 0;
}

h4 {
    color: rgba(45, 36, 36, 0.925);
    font-size: 25px;
}

#weightCondition {
    color: rgb(245, 245, 109);
}