body {
    background: linear-gradient(green, lightgreen);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: lef;
    background-color: rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 10px;
}

.input {
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    margin: 10px 0;
}

#btn {
    padding: 10px;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}

#btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
}